<div class="container">
  <% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
  <% end %>

  <h1 >Cadastro de Usuários</h1>
  <%= link_to "Novo usuário", new_user_path, class:"btn btn-success" %>
</div>

<div class="user-cards">
  <% @users.each do |user| %>
    <div class="user-card">
      <%= render user %>
      <div class="btn">
        <%= link_to "Ver usuário", user, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
