<p style="color: green"><%= notice %></p>

<h1>Cadastro de Usuários</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Ver usuário", user %>
    </p>
  <% end %>
</div>

<%= link_to "Novo usuário", new_user_path %>
