<div class="container">
  <div class="card">
    <h1>Novo usuário</h1>

    <%= render "form", user: @user %>

    <br>

    <div>
      <%= link_to "Voltar para usuários", users_path %>
    </div>
  </div>
</div>
